/dotfiles/hypr/scheme/current.conf

/dotfiles/btop/btop.log
/dotfiles/btop/themes/

/dotfiles/fish/fish_variables
/dotfiles/fish/conf.d/

/dotfiles/micro/b*
/dotfiles/micro/plug

/dotfiles/caelestia/monitors
/dotfiles/caelestia/templates

.vscode/

# PKGBUILD artifacts
src/
pkg/
*.pkg.tar.zst
*.pkg.tar.xz
*.pkg.tar.gz
.SRCINFO