[Unit]
Description=Cortana Desktop
After=network.target

[Service]
ExecStart=/home/gwynn7/Programming/Cortana/CortanaDesktop/out/CortanaDesktop
ExecStartPre=mkdir -p /home/gwynn7/Programming/Cortana/CortanaDesktop/out/ && /usr/bin/dotnet build /home/gwynn7/Programming/Cortana/CortanaDesktop -o /home/gwynn7/Programming/Cortana/CortanaDesktop/out --artifacts-path /home/gwynn7/Programming/Cortana/CortanaDesktop/out/lib
WorkingDirectory=/home/gwynn7/Programming/Cortana/CortanaDesktop/out/
Restart=on-failure
RestartSec=5
KillSignal=SIGTERM
TimeoutStopSec=15
User=gwynn7

StandardOutput=journal
StandardError=journal
SyslogIdentifier=CortanaDesktop

[Install]
WantedBy=default.target
